<?xml version="1.0" encoding="utf-8" ?>
<autoCloseMyPcSettingXml>
  <activeWeekday key="active" value="0,1,2,3,4,5,6"></activeWeekday>
  <time key="hour" value ="14"></time>
  <time key="minute" value ="2"></time>
  <time key="second" value ="0"></time>
  <timeInterval key="hour" value="0"></timeInterval>
  <timeInterval key="minute" value="1"></timeInterval>
  <timeInterval key="second" value="0"></timeInterval>
  <timeInterval key="ms" value="0"></timeInterval>
</autoCloseMyPcSettingXml>